/* #region base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
a {
  text-decoration: none;
}
.second_level_heading {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  text-align: center;
}

/* #endregion */

/* #region Header */

.header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.active-link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.active-link:after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  bottom: -1px;
  left: 0px;
}

.nav-list-item:hover {
  color: var(--OCEAN, #404bbf);
}
.nav-list-item:focus {
  color: var(--OCEAN, #404bbf);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-items {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-items:hover {
  color: #404bbf;
}
.address-items:focus {
  color: #404bbf;
}
.mobil-menu-btn {
  display: none;
}

/* #endregion */

/* #region sectoin1 */

.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/bg-desc/desk-bg@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-desc/desk-bg@2x.jpg);
  }
}
.title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region section2 */
.background-svg {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-two {
  padding: 120px 0;
  background: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  display: flex;
  gap: 24px;
}
.section-two-list-item {
  width: calc((100% - 72px) / 4);
}

/* #endregion */

/* #region section3 */
.section-three {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}
.second_level_heading {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  gap: 24px;
}
.section-three-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-position {
  padding: 32px 0;
  text-align: center;
}

.title-h-three {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.content {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text {
  margin-bottom: 8px;
}
.social-networks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
}

.icon-social-networks {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.social-networks-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-link:hover {
  background-color: #404bbf;
}
.social-networks-link:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region section4 */
.section-four {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.content-portfolio {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-four-list-item {
  background: #fff;
  padding-bottom: 0px;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.section-four-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.section-four-list-item:hover .text-overlay {
  transform: translateY(0%);
}
.app-categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-images-container {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region footer */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-logo {
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
}
.container-logo {
  margin-right: 120px;
}
.footer-studio {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-content {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer-wraper {
  display: flex;
  align-items: baseline;
}
.footer-text-social {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-social-networks-container {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}
.footer-social-networks-list {
  width: 40px;
  height: 40px;
}
.footer-icon-social-networks {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #f4f4fd;
}
.footer-social-networks-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks-link:hover {
  background-color: var(--GREEN, #31d0aa);
}
.footer-social-networks-link:focus {
  background-color: var(--GREEN, #31d0aa);
}
/* #endregion */

/* #region footer form */

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.input-email {
  width: 264px;
  height: 40px;
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 8px 16px;
  background-color: transparent;
  outline: none;
}
.input-email::placeholder {
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover {
  background-color: #404bbf;
}
.footer-btn:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}
/* #endregion */

/* #region modal */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  margin: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  outline: transparent;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-container {
  margin-bottom: 8px;
}
.comment-container {
  margin-bottom: 16px;
}
.checkbox-container {
  margin-bottom: 24px;
}
.modal_title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  transition: color 150ms ease-in-out;
}
.form-label:not(:last-child) {
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}
.icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .icons {
  fill: #4d5ae5;
}
.user-comment {
  width: 100%;
  height: 120px;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.user-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-label-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox:checked + .form-label .form-label-span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.form-label-link {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  outline: transparent;
}

.checkbox-container {
  margin-bottom: 24px;
}
/* #endregion */

/* mobil-menu */

.mobile-menu {
  display: none;
}

@media (min-width: 768px) and (max-width: 1157px) {
  /* #region Header */
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .logo {
    margin-right: 120px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
  .address-list-item {
    padding: 0;
    min-width: 119px;
    font-size: 12px;
  }
  .nav {
    margin-right: 121px;
  }
  .address-items {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  /* #endregion */

  /* #region sectoin1 */
  .section-one {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-tablet/tabl-bg@1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/bg-tablet/tabl-bg@2x.jpg);
    }
  }
  .title {
    margin: 0 auto 36px;
  }
  /* #endregion */

  /* #region section2 */
  .background-svg {
    display: none;
  }
  .section-two {
    padding: 96px 0;
  }
  .section-two-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .section-two-list-item {
    width: calc((100% - 24px) / 2);
  }
  .title-h-three {
    font-size: 36px;
    font-weight: 700;
  }
  .content {
    font-weight: 500;
  }
  .team {
    font-size: 20px;
    font-weight: 500;
  }
  .text {
    font-size: 16px;
    font-weight: 400;
  }
  /* #endregion */

  /* #region section3 */
  .section-three {
    padding: 96px 0;
  }
  .section-three .container {
    padding: 0 108px;
  }
  .section-three-list {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .section-three-list-item {
    width: calc((100% - 24px) / 2);
  }
  .name-position {
    padding: 32px 16px;
  }

  /* #endregion */

  /* #region section4 */
  .section-four {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-four-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-four-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio {
    font-size: 20px;
    font-weight: 500;
  }
  .content-portfolio {
    font-size: 16px;
    font-weight: 400;
  }
  /* #endregion */

  /* #region footer */
  .footer {
    padding: 96px 0;
  }
  .footer-wraper {
    flex-wrap: wrap;
    padding: 0 108px;
    align-items: center;
  }
  .footer-social-networks-container {
    margin: 0;
  }
  .container-logo {
    margin-right: 24px;
  }
  .form-container {
    margin-top: 72px;
  }
  /* modal */

  .modal {
    padding: 72px 25px 24px 23px;
  }

  /* #endregion */
}

@media (min-width: 320px) and (max-width: 767.98px) {
  /* #region Header */
  .container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .logo {
    padding: 16px 0;
    margin: 0;
  }
  .nav-list {
    display: none;
  }
  .address {
    display: none;
  }
  .mobil-menu-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  /* #endregion */

  /* #region sectoin1 */
  .section-one {
    max-width: 320px;
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-mob/bg-mob@1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/bg-mob/bg-mob@2x.jpg);
    }
  }
  .title {
    max-width: 288px;
    margin: 0;
    margin-bottom: 72px;
  }
  /* #endregion */

  /* #region section2 */
  .background-svg {
    display: none;
  }
  .section-two {
    padding: 96px 0;
  }
  .section-two-list {
    flex-direction: column;
    gap: 72px;
  }
  .section-two-list-item {
    width: 288px;
  }
  .content {
    font-weight: 500;
  }
  .title-h-three {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  /* #endregion */

  /* #region section3 */
  .section-three {
    padding: 96px 0;
  }
  .section-three .container {
    padding: 0 28px;
  }

  .section-three-list {
    flex-wrap: wrap;
    gap: 72px;
  }
  .section-three-list-item {
    width: 100%;
  }
  .team {
    font-size: 20px;
    font-weight: 500;
  }
  /* #endregion */

  /* #region section4 */
  .section-four {
    padding: 96px 0;
  }
  .section-four-list {
    flex-wrap: wrap;
    gap: 48px;
  }
  .section-four-list-item {
    width: 100%;
  }
  .text {
    font-weight: 400;
  }
  .portfolio {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
  /* #endregion */

  /* #region footer */
  .footer {
    padding-top: 97.5px;
    padding-bottom: 96px;
  }
  .footer-wraper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-logo {
    width: 100%;
    margin: 0 auto 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 17.5px;
  }
  .social-media-container {
    margin-bottom: 72px;
  }
  .footer-text-social {
    text-align: center;
  }
  .footer-social-networks-container {
    margin-right: 0;
  }

  .footer-form {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .footer-form-text {
    text-align: center;
    margin-bottom: 16px;
  }
  /* modal */
  .backdrop {
    padding: 8px 16px 9px;
  }
  .modal {
    width: 288px;
    height: 623px;
    padding: 72px 16px 24px;
  }
  /* #endregion */

  /* #region mobil-menu */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 640px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    visibility: hidden;
    padding: 72px 24px 40px 16px;
  }
  .is-open-mobile {
    visibility: visible;
  }

  .mobile-close {
    background-color: transparent;
  }
  .mobile-nav {
    display: flex;
    margin-bottom: auto;
  }
  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-nav-list-item {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-address {
    margin-bottom: 48px;
    font-style: normal;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mobile-address-items-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .activ-nav {
    color: #404bbf;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .activ-address {
    color: #404bbf;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-social-list {
    display: flex;
    gap: 40px;
  }
  .mobile-social-item {
    width: 40px;
    height: 40px;
  }
  .mobile-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-social-link-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 8px;
    fill: #f4f4fd;
  }
  /* #endregion */
}
